		</div>
	</div>
	
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	$.widget.bridge('uibutton', $.ui.button);
	</script>
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/bower_components/fastclick/lib/fastclick.js"></script>
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/dist/js/adminlte.min.js"></script>
	
	<script type="text/javascript" src="/public/AdminLTE-2.4.2/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript" src="/public/js/main.js"></script>

</body>
</html>
